input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.title {
    line-height: 103%;
    letter-spacing: -0.03em;
    font-weight: bold;
    font-size: 40px;
}

.scroll-css {
    overflow: auto;
}

.scroll-css::-webkit-scrollbar {
    width: 4px;
}

.scroll-css::-webkit-scrollbar-track {
    background: none;
}

.scroll-css::-webkit-scrollbar-thumb {
    background-color: #475569;
    border-radius: 20px;
}