<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Bank</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="text-slate-50">
    <header class="bg-slate-800 flex justify-between items-center px-6 py-3">
        <p class="text-2xl font-bold"><span class="text-teal-500"><a href="/">Rocket</span> Bank</a></p>
        <div class="text-2xl text-medium">
            {% block header %}
            {% endblock %}
        </div>
        <div class=" flex gap-12">
            <button>Recursos ></button>
            <div class="flex gap-4">
                <button class="bg-slate-50 text-slate-950 font-medium rounded py-1 px-3" ><a href="{{ url_for('pagamentos', id=1) }}">Entrar</a></button>
                <button class="bg-teal-500 text-slate-950 font-medium rounded py-1 px-3">Cadastrar-se</button>
            </div>
        </div>
    </header>
    <main class="bg-slate-900">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="flex justify-around items-center bg-sky-950 py-10">
        <div class="flex flex-col gap-8">
            <h3 class="font-bold">Para você</h3>
            <ul class="flex flex-col gap-4">
                <li><a href="" class="hover:underline hover:text-teal-500">Conta Digital</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Cartão de Crédito</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Empréstimo e Crédito Mobiliário</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
                <li><a href="" class="hover:underline hover:text-teal-500">FAQ</a>
            </ul>
        </div>
        <div class="flex flex-col gap-8">
            <h3 class="font-bold">Precisa de Ajuda?</h3>
            <ul class="flex flex-col gap-4">
                <li><a href="" class="hover:underline hover:text-teal-500">Central de Ajuda</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Central de Ajuda</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Central de Ajuda Para Funcionários</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
                <li><a href="" class="hover:underline hover:text-teal-500">FAQ</a>
            </ul>
        </div>

        <div class="flex flex-col gap-8">
            <h3 class="font-bold">Para você</h3>
            <ul class="flex flex-col gap-4">
                <li><a href="" class="hover:underline hover:text-teal-500">Conta Digital</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Cartão de Crédito</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Empréstimo e Crédito Mobiliário</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
                <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
                <li><a href="" class="hover:underline hover:text-teal-500">FAQ</a>
            </ul>
        </div>
    </footer>
</body>
</html>