{% extends 'base.html' %}

{% block content %}
    <div>
        <h1><span>Rocket</span> Bank</h1>
        <h2><span>Turbine</span> Seu Dinheiro</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptate vero architecto quasi aperiam
            soluta amet quis, unde explicabo tempora dolorum repellendus eos. Voluptates consequuntur hic molestiae, ut
            repellendus aut?

        </p>

        <button>Junte-se a nós</button>

    </div>

    <div>
        <div>
            <!--Div rounded full-->
            <img src="assets/Foguete.svg" alt="Foguete verde">
        </div>
    </div>
{% endblock %}