{% extends 'base.html' %}

{%block header%}
    <h1>Transferência Pix</h1>
{%endblock%}

{%block content%}
<main class="flex justify-around items-center p-2 py-20">
    <!--ícone-->
    <div>
        <div class="w-96 h-96 rounded-full bg-sky-950 blur-2xl absolute"></div>
        <img src="/static/assets/pix asset.svg" alt="" class="relative inset-0">
      </div>               
    </div>
    <!--Tela pix-->
    <div class="bg-slate-800 w-1/2 h-{838px} px-16 py-8 flex flex-col gap-20 rounded-lg">
        <h1 class="text-4xl font-semibold text-center">Selecione a Chave</h1>
        <div class="flex flex-col justify-center items-center">
            <label for="chave" class="text-base mb-1" >Chave Pix</label>
            <input type="text" name="chave" id="chave" class="w-full h-12 bg-slate-900 opacity-60 border border-stone-400 rounded">
        </div>

        <div class="flex gap-4 justify-center items-center">
            <div class="flex flex-wrap">
                    <input type="radio" name="radio" id="cpf" class="hidden">
                    <label for="cpf" class="p-2 bg-slate-900 rounded-full w-full flex justify-center items-center my-2 cursor-pointer transition duration-300 hover:bg-teal-500 group-checked:bg-teal-500">CPF</label>


                    <input type="radio" name="radio" id="celular" class="hidden">
                    <label for="celular" class="p-2 bg-slate-900 rounded-full w-full flex justify-center items-center my-2 cursor-pointer transition duration-300 hover:bg-teal-500 group-checked:bg-teal-500">Celular</label>
            </div>

            <div class="flex flex-wrap">
                    <input type="radio" name="radio" id="email" class="hidden">
                    <label for="email" class="p-2 bg-slate-900 rounded-full w-full flex justify-center items-center my-2 cursor-pointer transition duration-300 hover:bg-teal-500">Email</label>
                
                    <input type="radio" name="radio" id="key" class="hidden">
                    <label for="key" class="p-2 bg-slate-900 rounded-full w-full flex justify-center items-center my-2 cursor-pointer transition duration-300 hover:bg-teal-500">Chave Aleatória</label>
            </div>
        </div>

        <div class="flex flex-col justify-center items-center">
            <label for="valor" class="text-base mb-1">Valor</label>
            <input type="number" name="valor" id="valor" class="w-full h-12 bg-slate-900 opacity-60 border border-stone-400 rounded appearance-none">
        </div>

        <div class="flex flex-col gap-6">
            <button class="bg-teal-500 text-black font-bold p-2 rounded hover:bg-teal-600 transition-colors">Avançar</button>
            <button class="bg-teal-500 text-black font-bold p-2 rounded hover:bg-teal-600 transition-colors">Voltar</button>
        </div>
        
        <div class="flex gap-2 justify-center items-center">
            <!--Duas bolinhas final da tela-->
            <div class="w-4 h-4 bg-teal-500 rounded-full"></div>
            <div class="w-4 h-4 bg-slate-900 rounded-full"></div>
        </div>
    </div>
    
</main>
{%endblock%}